/* TO GET AN IDEA OF THE CSS YOU WILL LIKELY BE USING, SEE THE LISTS BELOW. */

    /* 
        
        Spacing 

            - padding (shorthand and/or specific properties like padding-bottom, etc.)

            - margin, (shorthand and/or specific properties like margin-top, etc.)

            - letter-spacing, word-spacing, line-height

            - width, max-width, min-width

            - height, max-height, min-height

        Typography 

            - font-family, font-size, font-style, font-weight

            - text-decoration, text-align

            - color

            - text-shadow, text-transform

        Box, Layout and Border 

            - border (shorthand and/or specific properties like border-top, border-bottom-radius, border-width, etc.)

            - box-shadow

            - display, float, align-items, align-content

            - grid-template-columns, grid-column-gap

            - transform

        Other

            - :nth()-child (to target specific child elements)

            - :focus, :hover, :active (to target link states)

            - @font-face or @import (to import typefaces)

    */

/* ------ START WRITING YOUR CODE BELOW ------ */

/* Typefaces */
@font-face {
    font-family:Lato;
    src: url(/blog/fonts/sans-serif/lato-regular.ttf);
    font-weight:normal;
    font-style:normal;
}

@font-face {
    font-family:Montserrat;
    src: url(/blog/fonts/sans-serif/montserrat-regular.ttf);
    font-weight:normal;
    font-style:normal;
}

@font-face {
    font-family:Opensans;
    src: url(/blog/fonts/sans-serif/opensans-regular.ttf);
    font-weight:normal;
    font-style:normal;
}

@font-face {
    font-family:Roboto;
    src: url(/blog/fonts/sans-serif/roboto-regular.ttf);
    font-weight:normal;
    font-style:normal;
}

@font-face {
    font-family:Josefinslab;
    src: url(/blog/fonts/serif/josefinslab-regular.ttf);
    font-weight:normal;
    font-style:normal;
}

@font-face {
    font-family:Robotoslab;
    src: url(/blog/fonts/serif/robotoslab-regular.ttf);
    font-weight:normal;
    font-style:normal;
}

@font-face {
    font-family:Rozhaone;
    src: url(/blog/fonts/serif/rozhaone-regular.ttf);
    font-weight:normal;
    font-style:normal;
}

@font-face {
    font-family:Ultra;
    src: url(/blog/fonts/serif/ultra-regular.ttf);   
    font-weight:normal;
    font-style:normal;
}

/* Typography */

html {
    font-family:lato;
    font-size: 16px;
    background-color: #fff;
}

body {

}

p {

}

nav {
    font-family: 'roboto', 'lato', 'Opensans';
    font-size: 32px;
    text-decoration-color:#2f00ff;
    border-top: #333 2px solid;
    border-bottom: #333 2px solid;
    padding: 32px 32px 32px 48px;
    word-spacing: 96px;
}

nav a {
    outline:none;
}

a:link {
    text-decoration:none;
}

nav a:visited {
    text-transform: capitalize;
}

nav a:focus {
    
}

nav a:hover {
    text-transform:uppercase;
    text-decoration: line-through;
    transform: rotateX('30');
}

nav a:active {
    text-transform: uppercase;
    text-decoration: line-through;

}

nav :nth-child(2) {
    text-transform:uppercase;
    text-decoration:line-through;

}

h1 {
    font-family: 'lato', serif;
    font-size: 80px;
    text-align:center;
    transform: rotate(-.0075turn);
}

.highlight {
    width: 100px;
    height: 50px;
    border-radius: 30px 0 30px 0;
    background-color: rgb(33, 120, 219);
    box-shadow: black 5px 5px 5px;
    padding: 16px 16px 16px 16px;
}

h1 span {
    font-family: 'Ultra', 'lato', serif;
}

h2 {
    margin: 16px 0 0 0;
}

h3 {

}

main {
    padding-left: 48px;
}

main section {

}

article {
    float: left;
    display: inline;
    width: 70%;
    padding-right: 48px;
    padding-bottom: 32px;
    border-right: black 2px solid;
}

article img {
    float:left;
    padding-right: 24px;
    margin-left: -40px;
    height: auto;
    /*max-width: 100%;*/
}

.subsection {
    max-width:fit-content;
    display: flex;
}

.subsection figure {
    display: table;
    width: 0;
}

.subsection img {

    height: 400px;
    max-height: auto;
    max-width: 
}



.subsectionn figcaption {
    
}

article a {
    font-family: 'ultra', 'rozhaone', 'robotlab';
    font-size: 24px;
    color: beige;
    width: 100px;
    height: 50px;
    background-color: rgb(33, 120, 219);
    box-shadow: black 5px 5px 5px;
    padding: 16px 16px 16px 16px;
    border-radius: 20px 20px 20px 20px;
    text-transform: uppercase;
}

aside {
    float: left;
    display: inline;
    padding: 0 48px 0 48px;
    display: grid;
    width: 12.5%;
}

aside p {
    border-bottom: black 2px solid;
    padding-bottom: 16px;
}

.expand {
    width: 32px;
    height: auto;
    font-size: 6px;
}

aside img {
    max-height: 300px;
    width: 400px;

}

footer {
    float: right;
    bottom: 0;
    display: inline;
}