/* TO GET AN IDEA OF THE CSS YOU WILL LIKELY BE USING, SEE THE LISTS BELOW. */

    /* 
        
        Spacing 

            - padding (shorthand and/or specific properties like padding-bottom, etc.)

            - margin, (shorthand and/or specific properties like margin-top, etc.)

            - letter-spacing, word-spacing, line-height

            - width, max-width, min-width

            - height, max-height, min-height

        Typography 

            - font-family, font-size, font-style, font-weight

            - text-decoration, text-align

            - color

            - text-shadow, text-transform

        Box, Layout and Border 

            - border (shorthand and/or specific properties like border-top, border-bottom-radius, border-width, etc.)

            - box-shadow

            - display, float, align-items, align-content

            - grid-template-columns, grid-column-gap

            - transform

        Other

            - :nth()-child (to target specific child elements)

            - :focus, :hover, :active (to target link states)

            - @font-face or @import (to import typefaces)

    */

/* ------ START WRITING YOUR CODE BELOW ------ */

/* Typefaces */
@font-face {
    font-family:Lato;
    src: url(/blog/fonts/sans-serif/lato-regular.ttf);
    font-weight:normal;
    font-style:normal;
}

@font-face {
    font-family:Montserrat;
    src: url(/blog/fonts/sans-serif/montserrat-regular.ttf);
    font-weight:normal;
    font-style:normal;
}

@font-face {
    font-family:Opensans;
    src: url(/blog/fonts/sans-serif/opensans-regular.ttf);
    font-weight:normal;
    font-style:normal;
}

@font-face {
    font-family:Roboto;
    src: url(/blog/fonts/sans-serif/roboto-regular.ttf);
    font-weight:normal;
    font-style:normal;
}

@font-face {
    font-family:Josefinslab;
    src: url(/blog/fonts/serif/josefinslab-regular.ttf);
    font-weight:normal;
    font-style:normal;
}

@font-face {
    font-family:Robotoslab;
    src: url(/blog/fonts/serif/robotoslab-regular.ttf);
    font-weight:normal;
    font-style:normal;
}

@font-face {
    font-family:Rohaone;
    src: url(/blog/fonts/serif/rozhaone-regular.ttf);
    font-weight:normal;
    font-style:normal;
}

@font-face {
    font-family:Ultra;
    src: url(/blog/fonts/serif/ultra-regular.ttf);   
    font-weight:normal;
    font-style:normal;
}

/* Typography */

html {
    font-family:lato;
    font-size: 16px;
    background-color: #fff;
}

body {

}

nav {
    border-top: #333 2px solid;
    border-bottom: #333 2px solid;
    padding: 32px 0 32px 0;
}

h1 {
    font-family: 'lato', serif;
    font-size: 6rem;
}

h1 > span {
    font-family: 'Ultra', 'lato', serif;
    font-size:20rem;
}

h2 {
    
}

h3 {

}