/* TO GET AN IDEA OF THE CSS YOU WILL LIKELY BE USING, SEE THE LISTS BELOW. */

    /* 
        
        Spacing 

            - padding (shorthand and/or specific properties like padding-bottom, etc.)

            - margin, (shorthand and/or specific properties like margin-top, etc.)

            - letter-spacing, word-spacing, line-height

            - width, max-width, min-width

            - height, max-height, min-height

        Typography 

            - font-family, font-size, font-style, font-weight

            - text-decoration, text-align

            - color

            - text-shadow, text-transform

        Box, Layout and Border 

            - border (shorthand and/or specific properties like border-top, border-bottom-radius, border-width, etc.)

            - box-shadow

            - display, float, align-items, align-content

            - grid-template-columns, grid-column-gap

            - transform

        Other

            - :nth()-child (to target specific child elements)

            - :focus, :hover, :active (to target link states)

            - @font-face or @import (to import typefaces)

    */

/* ------ START WRITING YOUR CODE BELOW ------ */

/* Typefaces */
@font-face {
    font-family:Lato;
    src: url(/blog/fonts/sans-serif/lato-regular.ttf);
    font-weight:normal;
    font-style:normal;
}

@font-face {
    font-family:Montserrat;
    src: url(/blog/fonts/sans-serif/montserrat-regular.ttf);
    font-weight:normal;
    font-style:normal;
}

@font-face {
    font-family:Opensans;
    src: url(/blog/fonts/sans-serif/opensans-regular.ttf);
    font-weight:normal;
    font-style:normal;
}

@font-face {
    font-family:Roboto;
    src: url(/blog/fonts/sans-serif/roboto-regular.ttf);
    font-weight:normal;
    font-style:normal;
}

@font-face {
    font-family:Josefinslab;
    src: url(/blog/fonts/serif/josefinslab-regular.ttf);
    font-weight:normal;
    font-style:normal;
}

@font-face {
    font-family:Robotoslab;
    src: url(/blog/fonts/serif/robotoslab-regular.ttf);
    font-weight:normal;
    font-style:normal;
}

@font-face {
    font-family:Rozhaone;
    src: url(/blog/fonts/serif/rozhaone-regular.ttf);
    font-weight:normal;
    font-style:normal;
}

@font-face {
    font-family:Ultra;
    src: url(/blog/fonts/serif/ultra-regular.ttf);   
    font-weight:normal;
    font-style:normal;
}

/* Typography */

html {
    font-family:'lato', 'roboto', 'opensans';
    font-size: 16px;
    background-color: white;
    
}

body {
    line-height: 22.5px;
}

nav {
    font-family: 'roboto', 'lato', 'Opensans';
    font-size: 32px;
    font-weight: bold;
    border-top: #333 2px solid;
    border-bottom: #333 2px solid;
    padding: 40px 32px 56px 48px;
    word-spacing: 128px;
}

nav a {
    outline:none;
    color:#4d4d4d;
}

a:link {
    text-decoration:none;
}

nav a:hover {
    text-transform:uppercase;
    text-decoration: line-through;
}

nav a:active {
    text-transform: uppercase;
    text-decoration: line-through;

}

nav :nth-child(2) {
    text-transform:uppercase;
    text-decoration:line-through;
    writing-mode: vertical-lr;
    transform: rotate(-78.5deg);
    color: black;
    position: relative;
    top: 28px;
    margin-top: -48px;
}    

h1 {
    font-family: 'lato', serif;
    font-size: 80px;
    text-align:center;
    transform: rotate(-.0075turn);
    line-height: 150px;

    .highlight {
        width: 100px;
        height: 50px;
        border-radius: 30px 0 30px 0;
        background-color: rgb(33, 120, 219);
        box-shadow: black 5px 5px 5px;
        padding: 16px 16px 16px 16px;
    }
}

h1 span {
    font-family: 'Ultra', 'lato', serif;
}

h2 {
    margin: 64px 0 16px 0;
}

main {
    padding-left: 48px;
}

main section {
    /*Fixed my problems when I remember this element*/
    display: flex;
}

article {
    display: inline;
    width: 70%;
    padding-right: 48px;
    padding-bottom: 32px;
    border-right: black 2px solid;
}

article img {
    float:left;
    padding-right: 24px;
    margin-left: -40px;
    height: auto;
}

.subsection {
    padding: none;
    width: 100%;
    justify-content: center;
}

.subsection figure {
    display: table;
    margin-left: -32px;
    background-color: #2f99f0e5;
}

.subsection img {
    float: none;
    margin-left: 0;
    padding-right: 0;
    height: 40vh;
    width: 37.75vh;
}

.subsection figcaption {
    display: table-caption;
    caption-side: bottom;
    background-color:#2f99f0e5;
    padding-bottom: 8px;
    text-align: center;
}

article a {
    font-family: 'ultra', 'rozhaone', 'robotlab';
    font-size: 26px;
    justify-content: center;
    color: beige;
    width: 175px;
    height: 35px;
    background-color: rgb(33, 120, 219);
    box-shadow: black 5px 5px 5px;
    padding: 24px 24px 8px 24px;
    border-radius: 20px 20px 20px 20px;
    text-transform: uppercase;
    display: flex;
    margin-top: 32px;
}

article time {
    font-size: 14px;
}

aside {
    float: left;
    display: inline;
    padding: 0 48px 0 48px;
    display: grid;
    width: 19.125%;

    
}

aside p {
    border-bottom: black 2px solid;
    padding-bottom: 16px;
}

.expand {
    width: 32px;
    height: auto;
    font-size: 6px;
}

aside img {
    max-height: 300px;
    width: 400px;
}

footer {
    font-family: 'josefinslab', 'rozhaone', 'robotoslab';
    font-size: 21px;
    line-height: 32px;
    width: 95%;
    display: flex;
    padding: 32px 48px 16px 48px;
    float: right;
    
    .copyright {
        width: 10%;
    }

    .attribution {
        width: 89.75%;
        text-align: right;
    }
}

footer a {
    color:#0060ce;
}